*{
    margin: 0;
    padding: 0;
    background-color:#c983c5c6;
}
.coverpage{
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{
    height: 750px;
    width:600px;
    border-radius: 10px;
    margin: 15px;
}
.wishes{
    font-size: 2rem;
    margin-bottom: 20px;
}
#button,#secondbutton{
    background-color: rgb(188, 133, 178);
    border:#c983c5c6
    color: black;
    padding: 10px 12px;
    text-align:center;
    display:inline-block;
    font-size:15px;
    cursor:pointer;
    border-radius:30px;
}
#button:hover{
    background-color: rgba(171, 212, 173, 0.87);
    box-shadow: 0 12px 16px 0;
}
#secondbutton:hover{
    background-color: rgba(171, 212, 173, 0.87);
    box-shadow: 0 12px 16px 0;
}